.input-label{
    /* font-size: 3.4vw; */
    display: flex;
    flex-wrap: wrap;
}
.input-label input{
    /* display: inline-block; */
    width: 200px;
    border-radius: 2px;
}

.input-label label input{
    border: none;
    background: #f4f4f4;
    border: 1px solid #f4f4f4;
    outline: none;
    padding: 5px;
}

.input-label label input:hover{
    border-color: #bbbbbb;
}

.input-label label{
    border-color: #d5d5d5;
}

.input-label .name-text{
    display: inline-block;
    width: 150px;
}
.input-label label{
    height: 7vh;
}
.input-label .error{
    color: red;
    display: inline-block;
    padding-left: 10px;
    width: 200px;
}