.submit-button{
    padding: 11px;
    color: #ffe4c4;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-size: 1.2rem;
    margin-top: 5px;
    height: 40px;
    border-radius: 4px;
    background-color: rgb(16, 100, 16);
    outline: none;
    position: relative;
    right: 70px;
    border-radius: 10px;
    border: none;
}

.submit-button:hover{
    cursor: pointer;
    color: #ffecd5;
    background-color: rgb(34, 207, 34);
}

.submit-button:active{
    background-color: #aaaaaa;
    color: #ffe4c4;
}